*　{
	margin: 0;
	padding: 0;
}
header {
	font-size: 40px;
	font-weight: 700;
}
section {
	margin: 20px 0;
}
section p {
	font-size: 28px;
	font-weight: 700;
	line-height: 20px;
}
.info span {
	padding: 0 40px 0 16px;
}
address {
	font-style: normal;
}
address span,
address a {
	padding: 0 40px 0 16px;
}
dl dd {
	margin-left: 0;
	margin-bottom: 20px;
}
