* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px "Microsoft Yahei",sans-serif;
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
header,
.slide_wrap,
.main_nav,
footer {
	width: 100%;
	min-width: 960px;
}
header {
	height: 80px;
	background-color: #333;
}
.logo {
	float: left;
	height: 80px;
	line-height: 80px;
	color: #fff;
	font-size: 22px;
}
.subnav {
	float: right;
}
.subnav a {
	color: #fff;
}
.slide_wrap {
	position: relative;
	height: 300px;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #66bb33;
}
.page_wrap {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page {
	position: absolute;
	right: 0;
	bottom: 15px;
}
.page span {
	color: #666;
	padding: 5px 10px;
	border: 1px solid #666;
	background-color: rgba(255,255,255,.3);
}
.page .active {
	padding-top: 20px;
	color: #000;
	border-color: #000;
	background-color: rgba(255,255,255,.7);
}
.main_nav {
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
}
.main_nav .wrap {
	margin-bottom: -1px;
}
.main_nav a {
	display: inline-block;
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 70px; 
	color: #111;
	border-radius: 20px 20px 0 0;
	border: 1px solid #ccc;
	font-size: 16px;
	background-color: #eee;
	text-decoration: none;
}
.main_nav a.active {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding-bottom: 10px;
}
.main>div {
	flex: auto;
	margin-top: 10px;
	margin-right: 10px;
	padding: 80px;
	border: 1px solid #ccc;
}
footer {
	height: 80px;
	text-align: center;	
	color: #fff;
	padding: 10px;
	background-color: #666;
}
